.nav-bar {
}

.img-peach {
  height: 4rem;
  width: 4rem;
}
.game-intro {
  border: 1px solid black;
  border-radius: 12px;
  padding: 60px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://media.giphy.com/media/xThtarN0lQU6A5eEHm/giphy.gif");
}

body {
}
